<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SnapNurse</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SnapNurse</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>APPL</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.snuzo.chillynapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.snuzo.chillynapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.20</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>ee7a1869f4f79358f8d67d94f3a683e05b69fc2b</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>XSKeCRfI4APV6enGTyOcl6DD1</string>
					<key>consumerSecret</key>
					<string>Eb73tW2QCPyhFwdyBG86NUBhw4qWJ0E1KvDbB7HKDeARkDzacK</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>524169904447505</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>fbapi</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Calender Use</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location Use</string>
	<key>NSLocationUsageDescription</key>
	<string>Location Use</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location Use</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo Use</string>
	<key>UIAppFonts</key>
	<array>
		<string>AvenirNextLTPro-Regular.otf</string>
		<string>AvenirNextLTPro-Bold.otf</string>
		<string>AvenirNextLTPro-BoldCn.otf</string>
		<string>AvenirNextLTPro-BoldCnIt.otf</string>
		<string>AvenirNextLTPro-Cn.otf</string>
		<string>AvenirNextLTPro-Demi.otf</string>
		<string>AvenirNextLTPro-CnIt.otf</string>
		<string>AvenirNextLTPro-DemiCn.otf</string>
		<string>AvenirNextLTPro-DemiCnIt.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIViewControllerBasedStatusBarAppearance - 2</key>
	<false/>
</dict>
</plist>
